/* 600px szeles reszponzivitas az aljan*/

body{
    font-family: "Press Start 2p";
    background: #4eadf5;
    background-image: url(hatter.png);
    background-repeat: no-repeat;
    background-size:100%;
    overflow: scroll;
    margin: 1 auto;
    display: grid;
    align-items: center;
    justify-content: center;
}
.gombok{
    font-family:"Press Start 2p";
    text-align: center;
    display:flex;
    margin: 20px;
    position: relative;
    justify-content: center;
    font-weight: bold;
    font-size: 30pt;
    padding: 10px;
    background-color:#3C84AB;
    text-shadow: -1px -1px black, 1px 1px white;
    color: white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}
.gombok:hover{
    cursor:pointer;
    transform:scale(1.1);
    transition: all .2s ease-in-out;
    background-color:  rgb(82, 161, 187);
}
.gombok:active {
box-shadow: none;
position: relative;
background-color: #3C79F5;
top: .2em;
}
.kontener{
border: 1px solid black;
}
#menu{
    margin: auto;
    width: 400px;
    height: 300px;
    display: block;
    justify-content: center;
    align-items: center;
}
#kulsoKon{
display:flex;
padding: 0px;
border: yellow 5px solid;
border-radius: 5px;
width: fit-content;
margin: auto;
position: relative;
}
#belsoKon{
display:flex;
flex-direction: row;
}
.szimbTarolo{
text-align: center;
position: relative;
background-color: rgba(255, 255, 255, 0.651);
}
.kezdoTarolo{
align-items: center;
justify-content: center;
margin:  0px;
}
#kozep{
justify-content: center;
padding: auto;
background-color:#3c7af560;
align-items: center;
border: 1px solid black;
}
.jatekosNev{
font-family: "Press Start 2p";
}
.szinTarolo{
border: solid 1px black;
display: block;
padding: 1px;
}
.nevTarolo{
display: block;
margin-bottom: 5px;
}

.magSzimbolum{
-webkit-text-stroke: black 2px;
font-size: 80px;
}
.Szimbolumok{
border: 1px solid black; 
display: flex;
margin-bottom: 0;
flex-direction: column;
justify-content: center;
align-items: center;

}
input[type = text]{
width: 250px;
border: 2px solid black;
}
input[type = text]:hover{
    border: 2px solid #3C84AB;
}

.szinTarolo{
position: relative;
border: 2px solid black;
border-radius: 25px;
height: 50px;
margin: 20px;
padding: 0;
width: 50px;
overflow: hidden;
}
.jatekosSzin{
position: absolute;
top: 0;
left: 0;
height: calc(100% + 8px);
width: 100%;
margin: 0;
padding: 0;
border: 0;
opacity: 0;
}
.valasztok{
justify-content: center;
width: 250px;
height: 20px;
margin-top: 5px;
margin-left: 20px;
margin-right: 20px;
text-align: center;
cursor: pointer;
color: white;
background-color:#3C84AB;
padding: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border: 0 none;
}
ul{
list-style-type: none;
padding: 0;
margin-top: auto;
margin-left: 20px;
margin-right: 20px;
width: 260px;
background-color:#3C84AB;
color: white;
display:block;
cursor: pointer;
text-align: center;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}
ul li{
padding: 2px;
}
ul li:hover{
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
background-color:  rgb(82, 161, 187);
}
.toggle {
    cursor: pointer;
    position : relative ;
    display : flex;
    margin: 0 auto;
    margin-bottom: 2px;
    width : 250px;
    height : 52px;
    background-color: red;
    border-radius: 30px;
    border: 2px solid black;
}
      
    /* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}
.checkbox {
    position: absolute;
    opacity: 0;
}
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 198px;
    
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: green;
}

#kiKezd{
    border: #3C79F5 1px solid;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#kiKezdSzoveg{
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.kezdoLabel{
    margin: auto;
    font-size: 20px;
    text-align: center;
}


#cim{
    text-align: center;
    position: relative;
    -webkit-text-stroke: black 1px;
    height: 150px;
    width: 100%;
    margin:0;
    font-weight: bolder;
    font-size: 60px;
    font-stretch: expanded;
    letter-spacing: 10px;
    color: yellow;
}

/*-------------------Játék Pálya---------------------------------------*/
    #palya{
        display:grid;
        grid-template-columns: repeat(3,auto);
        text-align:center; /*EZEK MARADNAK !!!*/
        margin: auto;
    }
    .cella{
        width:100px;
        height:100px;
        border: 1px black solid;   
        font-size:80px;   /*Meg ez is*/
        cursor:pointer; 
        background-color: yellow;
        -webkit-text-stroke: black 2px;
        
    }
    
    .palya5x5{
        display:grid;
        grid-template-columns: repeat(5,auto); 
        margin:auto;
        text-align:center; 	
    }
    .cella5x5{
        width:60px;
        height:60px;
        border:1px solid;
        font-size:50px;
        cursor:pointer; 
        box-shadow:0 0 0 2px;  
        background-color: yellow;
    }
    .palya10x10{
        display:grid;
        grid-template-columns: repeat(10,auto); 
        margin:auto;
        text-align:center; 
    }
    .cella10x10{
        width:30px;
        height:30px;
        border:1px solid;
        font-size:20px;
        cursor:pointer; 
        box-shadow:0 0 0 2px; 
        background-color: yellow;
    }
    
    #jatekTarolo{
       background-color:#3c7af560;
       display:flex;
       border: 5px solid yellow;
       border-radius: 5px;
       justify-content: center;
       align-items: center;
       padding: auto;
    }
    #palyaTarolo{  
       justify-content: center;
       align-items: center;
    }
    .kijelzo{
        border: 1px solid black;
        display: grid;
        padding: 5px;
        margin-top: 0px;
        background-color: rgba(255, 255, 255, 0.651);
        width: 150px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .eredmeny{
        width: 40px;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 5px;
        font-size: 40px;
        padding: 3px;
        margin: auto;
        margin-bottom: 5px;
    }
    .szimbolumokPalya{
        font-size: 60px;
        -webkit-text-stroke: black 2px;
        margin: auto;
    }
    .nevTaroloPalya{
        margin: 15px;
        font-size: 15px;
        text-align: center;
    }
    .eredmenylabel{
        font-size: larger;
        font-weight: bolder;
    }
    #kovetkezo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid black;
    }
    .idoKijelzo{
        background-color: black;
        color: white;
        padding: 5px;
        font-size: 50px;
        margin: 2px;
        border-radius: 5px;
    }
    #infoPapir{
        background-color: rgba(255, 255, 255, 0.651);
        margin: 0 auto;
        padding: 2px;
        font-size: 11px;
        width: 330px;
        height: 250px;
    }
    @media only screen and (max-width: 600px){
        #jatekTarolo {
            flex-direction: column;
          }
        #kulsoKon {
            display: flex;
            flex-direction: column;
            justify-self: center;
        }
        #cim {
            font-size: 50px;
        }
        #belsoKon {
            flex-direction: column;
        }
        .magSzimbolum {
            font-size: 40px;
        }
    }